<div class="row">
  <div class="col-md-4 col-lg-4 col-sm-4"></div>
  <div class="col-md-4 col-lg-4 col-sm-4">
    <uib-alert ng-repeat="alert in notificationCtrl.alerts" type="{{alert.type}}"
    close="notificationCtrl.closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4"></div>
  </div>
</div>


<h1 class="text-info text-center">Notificaciones Pendientes ({{notificationCtrl.list.total}})</h1>
<div>
  <div ng-controller="NotificationSendToUsersCtrl as NtfctnSTU" class="container">
    <div class="add text-info">
      <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus"></i>  Crear Notificación
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nueva Notificación</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="nTo">Destinatarios</label>
              <input type="text" class="form-control" ng-model="NtfctnSTU.to"
              ng-required="!NtfctnSTU.sendAll"
              ng-disabled="NtfctnSTU.sendAll"
               id="nTo" placeholder="Usuarios">
            </div>
            <div class="form-group">
              <label for="nTitle" class="control-label">Título:</label>
              <input type="text" class="form-control" id="nTitle" placeholder="Título de la Notificación" ng-model="NtfctnSTU.title" maxlength="100">
            </div>
            <div class="form-group">
              <label for="nContent" class="control-label">Contenido:</label>
              <textarea class="form-control" id="nContent" placeholder="Contenido de la Notificación" ng-model="NtfctnSTU.content"></textarea>
            </div>
            <div class="form-group">
              <label for="nDate" class="control-label">Fecha:</label>
              <input type="date" ng-model="NtfctnSTU.date" min="{{NtfctnSTU.today}}" max="{{NtfctnSTU.future}}">
              <input type="time" ng-model="NtfctnSTU.time" name="usr_time">
            </div>
            <div class="form-group">
              <div class="radio">
                <label>
                  <input ng-model="NtfctnSTU.sendAll" ng-init="NtfctnSTU.sendAll=false" type="radio" name="optionsRadios" id="optionsRadios1" ng-value="true">
                  Enviar a todos
                </label>
              </div>
              <div class="radio">
                <label>
                  <input ng-model="NtfctnSTU.sendAll" type="radio" name="optionsRadios" id="optionsRadios2" ng-value="false">
                  Enviar usuario/s y/o topic
                </label>
              </div>

              <div class="form-inline">
                <label>Enviar al topic:   </label>
                <select ng-model="NtfctnSTU.sendToTopic" id="topic" class="form-control" ng-disabled="NtfctnSTU.sendAll">
                  <option value="-1" selected=""></option>
                  <option ng-repeat="topic in NtfctnSTU.topics" value="{{topic.id}}">{{topic.name}}</option>
                </select>
              </div>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Cancel</button>
            <button type="button" class="btn btn-success" data-dismiss="modal"
            ng-click="NtfctnSTU.send(NtfctnSTU.to, NtfctnSTU.sendAll, NtfctnSTU.title,
            NtfctnSTU.content, NtfctnSTU.date, NtfctnSTU.time, NtfctnSTU.sendToTopic)">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Lista de notificaciones -->
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th class="text-center">Título</th>
          <th class="text-center">Contenido</th>
          <th class="text-center">Fecha de envío</th>
          <th class="text-center">Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="ntf in notificationCtrl.list.notifications |
        orderBy:notificationCtrl.orderByField:notificationCtrl.reverseSort | itemsPerPage:8">
          <td class="text-center">{{ntf.title}}</td>
          <td class="text-center">{{ntf.content}}</td>
          <td class="text-center">{{ntf.sendDate |  date:"dd/MM/yyyy - HH:mm:ss"}}</td>
          <td class="text-center">
            <a class="btn btn-link" ng-click="notificationCtrl.delete(ntf.id)">
              <i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <dir-pagination-controls
      max-size="5"
      direction-links="true"
      boundary-links="true" >
   </dir-pagination-controls>
</div>
