
<div class="row">

<div class="col-md-4 col-lg-4 col-sm-4"></div>
<div class="col-md-4 col-lg-4 col-sm-4">
<uib-alert ng-repeat="alert in topicCtrl.alerts" type="{{alert.type}}" close="topicCtrl.closeAlert($index)">{{alert.msg}}</uib-alert>
</div>
<div class="col-md-4 col-lg-4 col-sm-4"></div>
</div>

<h1 class="text-info text-center">Topics</h1>

<div>

  <div ng-controller="ModalInstanceCtrl as MICtrl" class="container">
    <div class="add text-info">
      <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus"></i>  Añadir Topic
      </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Nuevo Topic</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="topicTitle">Título</label>
              <input type="text" class="form-control" ng-model="MICtrl.titulo"
              maxlength="50" required="" id="topicTitle" placeholder="Título del Topic">
            </div>
            <div class="form-group form-group-textarea">
              <label for="topicDesc">Descripción</label>
              <textarea form="newTopic" id="topicDesc" ng-model="MICtrl.desc"
              class="form-control" placeholder="Descripción del Topic"></textarea>
            </div>
            <div class="form-group">
              <label for="topicDesc">TTL</label>
              <input type="number" name="quantity" min="1" form="newTopic" id="topicTTL"
              ng-model="MICtrl.ttl" class="form-control" placeholder="TTL del Topic" value="1">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="MICtrl.ok(MICtrl.titulo, MICtrl.desc, MICtrl.ttl)">Crear</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-info row">
    <div class="col-md-4 col-sm-4 col-lg-3">
      <div class="form-group form-inline">
        <label for="disabledSelect">Ordenar por: </label>
        <select ng-model="topicCtrl.orderByField" id="disabledSelect" class="form-control">
          <option value="name">Nombre</option>
          <option value="users">Usuarios</option>
        </select>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-lg-5">
      <div class="form-group form-inline">
        <div class="radio">
          <label>
            <input ng-model="topicCtrl.reverseSort" type="radio" name="optionsRadios" id="optionsRadios1" ng-value="false" checked>
            Ascendente
          </label>
        </div>
        <div class="radio">
          <label>
            <input ng-model="topicCtrl.reverseSort" type="radio" name="optionsRadios" id="optionsRadios2" ng-value="true">
            Descencente
          </label>
        </div>
      </div>
    </div>

    </div>
    <!-- Lista de topics -->
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Descripción</th>
          <th class="text-center">Dispositivos</th>
          <th class="text-center">Usuarios</th>
          <th class="text-center">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="topic in topicCtrl.topics | orderBy:topicCtrl.orderByField:topicCtrl.reverseSort | itemsPerPage:8">
          <td>{{topic.name}}</td>
          <td>{{topic.description}}</td>
          <td class="text-center">{{topic.devices}}</td>
          <td class="text-center">{{topic.users}}</td>
          <td class="text-center"><a class="btn btn-link" ng-click="topicCtrl.delete(topic.id)"><i class="fa fa-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>

    <dir-pagination-controls
           max-size="5"
           direction-links="true"
           boundary-links="true" >
       </dir-pagination-controls>

</div>
