body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.title{
  font-weight: bold;
}

.navbar-brand {
  padding: .5em 15px;
  img {
    max-height: 1.8em;
    background: white;
  }
}

.text-center {
    text-align: center;
}

.form-group-textarea{
   textarea { resize: vertical; }
}

.table-responsive {
  width: 100%;
  padding-top: 1.5em;
  border: hidden;
}

.add, .pagination {
    float: right;
}
