<!DOCTYPE html>
<html lang='en' data-ng-app='notificationsApp'>
  <head>
    <title>Team3 Lukia</title>
    <meta name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes'>

    <!-- inject:head:js -->
    <!-- endinject -->
    <!-- inject:html -->
    <!-- endinject -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"><img alt="Brand" src="images/Logo-MNS.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li><a href="#/notifications"><i class="fa fa-bell"></i> Notificaciones</a></li>
            <li><a href="#/topic"><i class="fa fa-comments"></i> Topics</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li ng-controller="UserListCtrl as user">
              <a class="btn btn-link" download="{{user.filename}}" ng-href="{{user.url}}">
                <i class="fa fa-download"></i> CSV usuarios</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" role="main">
      <!-- Dinamic content -->
      <div class="tab-content" ng-view>
      </div>
    </div>

    <!-- bower:js -->
    <!-- endbower -->
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
